@font-face {
  font-family: "Roboto Local";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Local";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Local";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Local";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Local";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Local";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Syne Local';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/syne/Syne-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Lora Local';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/lora/Lora-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lora Local';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/lora/Lora-Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'Lora Local';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/lora/Lora-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Lora Local';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/lora/Lora-SemiBoldItalic.ttf") format('truetype');
}
