@use 'fonts';


$black: rgb(0, 0, 0);
$gray20: rgb(20, 20, 20);
$gray50: rgb(50, 50, 50);
$gray90: rgb(90, 90, 90);
$gray130: rgb(130, 130, 130); // gray1
$gray150: rgb(150, 150, 150);
$gray180: rgb(180, 180, 180); // gray2

// $bg-gray: rgb(240, 240, 240);
$bg-gray: var(--bg-gray);
$bg-gray1: rgb(240, 240, 240);
$bg-gray2: rgb(220, 220, 220);

:root {
  --bg-gray: #{$bg-gray1};
}

// opacity percentage corresponding to gray130
$gray130-opacity: .5; // 130/256

// Blur styling
$gray-blur: 0 0 .06rem rgba(150, 150, 150, 1);
$black-blur: 0 0 .12rem rgba(20, 20, 20, 1);
$black-weak-blur: 0 0 .06rem rgba(20, 20, 20, 1);

// Dimensions
$right: 2.5vw; //Relative to whole screen
$bottom: 1.5vw;
$section-list-width: 23vw;
$icon-container-width: 32px;
$icon-container-padding-v: 6px;
$icon-container-height: $icon-container-width;
$icon-height: calc($icon-container-height + 2 * $icon-container-padding-v);
// These 8px should be 8px horizontal padding to icon-container
$right-section-width: calc($icon-container-width + (2 * 8px));
$section-list-item-vmargin: 10px;
$container-padding: var(--bs-gutter-x, .75rem);
$logo-top: 6%;
$paragraph-margin: 4% 0;


// fonts
$main-sans-font: 'Roboto';
$main-sans-font-fb: 'Roboto Local';
$logo-font: 'Syne';
$logo-font-fb: 'Syne Local';
$main-serif-font: 'Lora';
$main-serif-font-fb: 'Lora Local';

$serif: $main-serif-font, $main-serif-font-fb, serif;
$sans:  $main-sans-font, $main-sans-font-fb, Helvetica, Arial, Roboto, 'Mplus 1p', sans-serif;

html {
  scrollbar-color: $gray130 $gray50;
}

::-webkit-scrollbar {
  background: $gray50;
}

::-webkit-scrollbar-thumb {
  background: $gray130;
}

body {
  background: linear-gradient(
    90deg, $gray150 0, $bg-gray 2%, $bg-gray 85%,
    $gray150 98.5%, $gray50 100%
  );
  background-color: $bg-gray;
  font-family: $serif;
  font-weight: 500;
  text-align: left;
}

.darker-body {
  --bg-gray: #{$bg-gray2};
}

p {
  margin: $paragraph-margin;
}

// Undoing bootstrap
ol {
  margin: 0;
  padding: 0;
}

img {
  text-align: center;
  width: 100%;
}

.fn-backlink img {
  margin: 0;
}

.article-text p img,
.article-text li img {
  padding-bottom: 10%;
  padding-top: 3%;
  text-align: center;
}

.footnotes li .img-inline,
.article-text p .img-inline,
.article-text li .img-inline,
.img-inline {
  display: inline;
  height: auto;
  margin: 0 -3px;
  width: 1rem;
  padding: 0;
}

.article-text p img.img-top,
.article-text li img.img-top,
.img-top {
  padding-bottom: 30px;
  padding-top: 140px;
}

// If there is something before the title (img-top, for example), than
// reduce it's margin-top
p + .article-title {
  margin-top: 15%;
}

blockquote {
  color: $gray130;
  margin-left: 7%;
  margin-right: 7%;
}

a,
a:hover {
  color: $black;
}


.icon-container {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: $icon-container-padding-v 0;
  text-align: center;
  width: $icon-container-width;
}


// LOGO

.logo {

  #logo {
    opacity: 0;
  }

  .dark {
    text-shadow: 0 0 .25rem $gray20;
  }

  .light {
    color: rgba($gray130, .5);
    text-shadow: 0 0 .3rem $gray90;
  }

  color: rgba($black, .5);
  font-family: $logo-font, $logo-font-fb, Roboto, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-orientation: sideways;
  text-shadow: 0 0 .3rem $gray20;
  writing-mode: vertical-rl;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: fixed;
  right: $right;
  top: $logo-top;
  transform: rotate(180deg);
  transition: opacity 500ms;
  width: $right-section-width;
}

// BOTTOM BAR
.bottom-bar {
  border: 0;
  bottom: $bottom;
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: fixed;
  right: $right;
  text-align: center;
  width: $right-section-width;
  z-index: 100;
}

// CONTENTS
.container {
  float: left;
  max-width: min(min(calc(100% - $right
                           - $right-section-width
                           - 2*$container-padding),
                     85vw),1400px);

  overflow: hidden;
  padding-bottom: 1.6875rem;
  width: calc((100% - $right
                    - $right-section-width
                    - $section-list-width
                    - 2*$container-padding
                    )*12/7);

}

.article-title {
  font-size: 3rem;
  font-weight: 500;
  margin: 30% 0 0;
  text-shadow: $black-blur;
}

.article-subtitle {
  font-size: 1.6rem;
  margin: 2% 0 8%;
  text-shadow: $black-blur;
}

.authors {
  color: transparent;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 3% 0 2%;
  text-align: left;
  text-shadow: $gray-blur;
}

.authors .footnotref a,
.authors .footnotref a:active,
.authors .footnotref a:visited {
  color: transparent;
  text-shadow: $gray-blur;
}

.date {
  color: $gray180;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

.date .footnoteref a,
.date .footnoteref a:active,
.date .footnoteref a:visited {
  color: $gray180;
}

.header,
.article-title,
.article-subtitle,
.authors,
.date {
  font-family: $sans;
}

.epigraph {
  margin-bottom: 7%;
  margin-top: 3%;
  text-align: right;
}

.article-text {
  font-size: 1.1rem;
  letter-spacing: .05rem;
  line-height: 1.6875rem;
  text-align: left;
}

.text-section {
  font-size: 1.7rem;
  padding: 5% 0 1%;
  text-shadow: $black-weak-blur;
}


// FOOTNOTES
.footnoteref a,
.footnoteref a:visited,
.footnoteref a:active {
  color: $gray130;
  font-size: .8rem;
  font-weight: 500;
  line-height: 0;
  text-decoration: none;
  text-shadow: 0 0 .06rem rgba($gray130, .9);
}


.fn-backlink,
.fn-backlink:visited,
.fn-backlink:hover {
  color: $black;
  text-decoration: none;
}

.footnotes li {
  color: $gray130;
  font-size: 1rem;
  line-height: 140%;
  list-style-type: none;
  margin: $paragraph-margin;
}

.footnotes cite,
#sidenotes cite {
  font-style: normal;
}

.footnoteref {
  color: $gray180;
  font-weight: 400;

  a:hover {
    color: transparent;
    text-shadow: 0 0 5px rgba($gray130, .9);
  }
}

#sidenotes {
  border: 0;
  font-family: $serif;
  font-size: .9rem;
  letter-spacing: .05rem;
  line-height: 140%;
  margin: 0;
  text-align: left;

  li {
    border: 0;
    color: $gray130;
    display: none;
    list-style-type: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: opacity 300ms;
    width: 100%;
  }
}


.menu {
  background: transparent;
  cursor: pointer;
  display: none;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 140%;
  max-width: $section-list-width;
  opacity: 0;
  padding: 4px 4px 0;
  position: absolute;
  right: $right-section-width;
  transition: opacity 300ms;
  width: max-content;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $icon-container-padding-v 0;
    min-height: $icon-container-height;
    text-align: right;
  }

  a {
    color: transparent;
    font-family: $sans;
    font-weight: 300;
    text-decoration: none;
    text-shadow: 0 0 .06rem $gray130;
  }

  img {
    align-self: center;
    // See https://css-tricks.com/when-sass-and-new-css-features-collide/
    filter: Opacity($gray130-opacity);
    margin-right: 5px;
    object-fit: scale-down;
    width: $icon-container-width;
  }
}

#submenu-button {
  display: none;
}

.menu#menu-sections {
  bottom: calc($icon-height*3);
}

.menu#menu-pdfs {
  bottom: calc($icon-height*2);
}

.menu#menu-languages {
  bottom: calc($icon-height);
}

.menu-separator {
  background-color: transparent;
  box-shadow: 0 0 .3rem .1rem rgba($gray130, .4);
  height: 0 !important;
  min-height: 0 !important;
}

.header {
  padding: 5px 0 0;
}

// NAVIGATION BAR
.header {
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    text-align: center;
    width: 50%;
  }
}

.header-tab,
.header-tab:visited {
  color: rgba($black, .9);
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 4px;
  text-align: center;
}

.header li a,
.header a:visited .btn {
  display: inline-block;
  text-decoration: none;
}

.header {
  li a:hover,
  .dropdown:hover .btn,
  .dropdown-item:hover,
  .dropdown > .show {
    color: transparent;
    text-shadow: 0 0 5px rgba($black, .9);
  }
}

.btn,
li .header-tab {
  padding: 14px 16px 2px;
  transition: none;
}

.btn:focus {
  box-shadow: none;
}

.dropdown-menu {
  background: linear-gradient(
    0deg,
    transparent 0,
    $bg-gray 15%, $bg-gray 85%,
    transparent 100%
  );
  border: 0;

  li {
    width: 100%;
  }

  a {
    display: block;
    padding: 4px 16px;
    text-align: left;
    text-decoration: none;
  }

  a:hover {
    background-color: transparent;
  }
}

.dropdown-item {
  background-color: transparent;
  color: transparent;
  font-family: $sans;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 4px;
  text-align: left;
  text-shadow: 0 0 .06rem rgba($gray150, 1);
}

.current-tab {
  text-decoration-thickness: 1.5px;
  text-decoration: underline !important;
  text-underline-offset: 3px;
}


// Responsive
@media (max-width: 992px) {

  body {
    background: linear-gradient(90deg, rgba($gray90, 1) 0,
                                       $bg-gray 2%,
                                       $bg-gray 98%,
                                       rgba($gray90, 1) 100%);
  }

  .menu {
    max-width: none;
    right: 10px;
    width: 90vw;
    padding: 30px 0;
    background: linear-gradient(0deg, transparent 0,
                                      $bg-gray 10%,
                                      $bg-gray 90%,
                                      transparent 100%);
  }

  .menu p {
    padding: 10px 0 0;
  }

  .menu-separator {
    margin-left: $right;
    padding: 0 !important;
  }

  .article-text {
    font-size: 1rem;
    hyphens: auto;
    line-height: 1.45rem;
  }

  .article-title {
    font-size: 2.7rem;
  }

  .article-subtitle {
    font-size: 1.3rem;
  }

  .text-section {
    font-size: 1.5rem;
  }

  .authors {
    font-size: 1.1rem;
  }


  .container {
    width: calc(100% - $right
                     // - $right-section-width
                     // - $section-list-width
                     - 2*$container-padding
                     );
  }

  .contents {
    padding-left: 10%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    width: calc(100%
                     // - $right-section-width
                     // - $section-list-width
                     - 2*$container-padding
                     );
  }

  #logo {
    background: linear-gradient(90deg, $bg-gray 0%,
                                       $bg-gray 85%,
                                       transparent 100%);
    padding: 10px 0;
    top: calc($logo-top - 10px);
  }

  .contents {
    padding-left: 5%;
  }

  .menu#menu-sections {
    bottom: calc(10px + $icon-height * 3);
  }

  .menu#menu-pdfs {
    bottom: calc(10px + $icon-height * 2);
  }

  .menu#menu-languages {
    bottom: calc(10px + $icon-height * 1);
  }


  #submenu {
    display: none;
    opacity: 0;
    transition: opacity 300ms;
  }

  #submenu-button,
  #submenu {
    background: linear-gradient(-90deg, transparent 0,
                                        $bg-gray 10%,
                                        $bg-gray 90%,
                                        transparent 100%);
  }

  #submenu-button {
    display: block;
  }

  #main-icon {
    animation: spin 4s linear infinite;
    bottom: $icon-container-padding-v;
    filter: Opacity($gray130-opacity);
    position: absolute;
    right: calc(($right-section-width - $icon-container-width)/2);
    width: $icon-container-width;
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

// Avoid colliding bottom menu with logo
@media (max-height: 400px) {
  #logo {
    display: none;
  }
}
