{% load i18n %}{% comment %}

    Include this block at the bottom of the object-tools:

    {% block object-tools %}
      {{ block.super }}
      {% if language_tabs %}{% include "admin/parler/language_tabs.html" %}{% endif %}
    {% endblock %}

{% endcomment %}
{% if language_tabs %}<div class="parler-language-tabs{% if language_tabs.css_class %} {{ language_tabs.css_class }}{% endif %}">
	{% for url,name,code,status in language_tabs %}
    {% if status != 'empty' %}
    {% if status == 'current' %}
      <input type="hidden" class="language_button selected" name="{{ code }}" />
      <span class="current">{{ name }}{% if language_tabs.current_is_translated and language_tabs.allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
    {% else %}
      <span class="{{ status }}"><a href="{{ url }}">{{ name }}</a> {% if status == 'available' and language_tabs.allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
    {% endif %}
    {% endif %}
  {% endfor %}
  <span id="parler-toggle-hidden-tabs-a-container" class="available"><a class="addlink" id="parler-toggle-hidden-tabs-a" href="#" onclick="return toggle_hidden_tabs()"></a></span>

</div>
<div id="parler-language-tabs-empty" class="parler-language-tabs{% if language_tabs.css_class %} {{ language_tabs.css_class }}{% endif %}">
	{% for url,name,code,status in language_tabs %}
    {% if status == 'empty' %}
    {% if status == 'current' %}
      <input type="hidden" class="language_button selected" name="{{ code }}" />
      <span class="current">{{ name }}{% if language_tabs.current_is_translated and language_tabs.allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
    {% else %}
      <span class="{{ status }}"><a href="{{ url }}">{{ name }}</a> {% if status == 'available' and language_tabs.allow_deletion %}<a class="deletelink" href="./delete-translation/{{ code }}/" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}</span>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>{% endif %}
<script>
  var parler_tabs = document.getElementById('parler-language-tabs-empty')
  var parler_button = document.getElementById('parler-toggle-hidden-tabs-a')

  function calc_left() {
      r1 = parler_button.parentElement.parentElement.getBoundingClientRect();
      r2 = parler_button.parentElement.getBoundingClientRect();

      return r1.width + r1.x - r2.x - r2.width;
    }

  function toggle_hidden_tabs() {
      if (parler_tabs.style.display == 'block') {
          parler_tabs.style.display = 'none';
          parler_button.parentElement.style.marginLeft = 0;
          parler_button.classList.add('addlink');
          parler_button.classList.remove('deletelink');
        }
      else {
          parler_tabs.style.display = 'block';
          parler_button.parentElement.style.marginLeft = calc_left() + 'px';
          parler_button.classList.remove('addlink');
          parler_button.classList.add('deletelink');
        }

      return false;
    }
</script>
