{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ language }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={% static "pages/favicon.ico" %}>

    {% block css %}
    {% include  "pages/css.html" %}
    {% endblock %}

    {% block page_title %}
    {% endblock %}

  </head>
  <body>
    <a href="/">
      <div class="button-logo" id="logo" style="opacity: 1">
        <div class="logo black-strong-blur">
          NEBLINA
        </div>
        <div class="logo logo-light">
          .XYZ
        </div>
      </div>
    </a>
    <div class="container">
      <div class="row gx-3">
        <div class="col-lg-2"></div>
        <div class="col-sm contents">
          <div id="article-start" class="article">
            <div class="article-text">
              <h1 class="article-title" style="margin-top: 10%">{%block code %}404{% endblock %}</h1>
              <h2 class="article-subtitle">{% translate "We're lost in the mist..."%}</h2>
              <p><img src="{% static "pages/images/error.jpg" %}"></p>
              <p>{% block text %}{% translate "We couldn't find this page." %}{% endblock %}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </body>
</html>
