{% load static %}
    <!-- Google Fonts and bootstrap -->
    {% block fonts %}
    {% include "pages/fonts.html" %}
    {% endblock %}
    {% block bootstrap %}
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% endblock %}
    <link rel="stylesheet" href="{% static "pages/css/styles.css" %}">
    {% if page.custom_css %}<style>
{{ page.custom_css }}
    </style>{% endif %}
