{% load parler_tags page_tags %}
{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
{% if page.og_description %}<meta property="og:description" content="{{ page.og_description }}" />{% endif %}
{% if page.og_title %}<meta property="og:title" content="{{ page.og_title }}" />{% endif %}
{% if page.og_type %}<meta property="og:type" content="{{ page.og_type}}" />{% endif %}
{% if request.path %}<meta property="og:url" content="{{ request.build_absolute_uri }}" />{% endif %}
{% if language %}<meta property="og:locale" content="{{ language }}" />{% endif %}
<meta property="og:site_name" content="Neblina" />
{% if page.og_image %}<meta property="og:image" content="{% absolute_uri request page.og_image.url %}" />
<meta property="og:image:type" content="{{ page.og_image_type }}" />
<meta property="og:image:alt" content="{{ page.og_title }}" />
<meta property="og:image:width" content="{{ page.og_image.width }}" />
<meta property="og:image:height" content="{{ page.og_image.height }}" />{% endif %}
<meta name="robots" content="index,follow">
<link rel="canonical" href="{% page_absolute_uri request page %}" />
{% for lang_code in available_langs %}
<link rel="alternate" hreflang="{{ lang_code }}" href="{% page_absolute_uri request page lang_code %}" />
{% endfor %}
