{% load i18n static parler_tags page_tags cache %}
{% cache cache_timeout head page.slug auth %}
{% objectlanguage page language %}
<!DOCTYPE html>
<html lang="{{ language }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={% static "pages/favicon.ico" %}>

    {% block css %}
    {% include  "pages/css.html" %}
    {% endblock %}
    {% block meta %}
    {% include "pages/meta.html" %}
    {% endblock %}

    <title>{{ page.page_title }}</title>

  </head>
  <body{% if about_page == page %} class="darker-body"{% endif %}>
    <div class="logo" id="logo" onclick="topFunction()">
      <span class="dark">NEBLINA</span><span class="light">.XYZ</span>
    </div>
    <div class="bottom-bar" id="bottom-bar">
      <div id="menu-container">
        <div class="menu" id="menu-sections"></div>
        {% if page.pdf_A5 and page.pdf_A4 %}
        <div class="menu" id="menu-pdfs">
          <p><a class="menu-item" href="{{ page.pdf_A4.url }}" target="_blank">
            <img src="{% static "pages/images/btn-pdf-a4.png" %}">
            {% translate 'printing' %}
          </a></p>
          <p><a class="menu-item" href="{{ page.pdf_A5.url }}" target="_blank">
            <img src="{% static "pages/images/btn-pdf-a5.png" %}">
            {% translate 'reading' %}
          </a></p>
        </div>
        {% endif %}
        {% endobjectlanguage %}
        {% if available_langs|length > 1 %}
        <div class="menu" id="menu-languages">
          {% zip_lists available_langs display_langs as zipped %}
          {% for lang, display_lang in zipped %}
            {% if lang != altered_language %}
            {% objectlanguage page lang %}
            {% get_language_info for display_lang as info %}
            <p><a class="menu-item" href="{% url 'page' page.slug %}">
              {{ info.name_local|lower }}
            </a></p>
            {% endobjectlanguage%}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% endcache %}
        {% objectlanguage page language %}
        {% cache cache_timeout menu page.slug auth %}
      </div>
      <div id="submenu">
        <div class="icon-container"  id="sections-button" >
          <img src="{% static "pages/images/btn-menu.png" %}" id="sections-icon">
        </div>
        {% if page.pdf_A5 or page.pdf_A4 %}
        <div class="icon-container" id="pdf-button">
          {% if page.pdf_A5 and page.pdf_A4 %}
          <img src="{% static "pages/images/btn-download.png" %}" id="pdf-icon">
          {% else %}
          <a class="menu-item" href="{% static "pages/docs/olha-como-a4.pdf" %}" target="_blank">
            <img src="{% static "pages/images/btn-download.png" %}" id="pdf-icon">
          </a>
          {% endif %}
        </div>
        {% endif %}
        {% if available_langs|length > 1 %}
        <div class="icon-container"  id="languages-button" >
          <img src="{% static "pages/images/btn-world.png" %}" id="languages-icon">
        </div>
        {% endif %}
        <div class="icon-container" id="top-button" onclick="topFunction()">
          <img src="{% static "pages/images/btn-up.png" %}">
        </div>
      </div>
      <div id="submenu-button">
        <div class="icon-container" id="main-button">
          <img src="{% static "pages/images/logo-dots.png" %}">
          <img src="{% static "pages/images/logo-rotate.png" %}" id="main-icon">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row gx-3">
        <div class="col-lg-2"></div>
        <div class="col-sm contents">
          <ul class="header">
            <li>
              <div class="dropdown">
                {% endcache %}
                <button class="btn header-tab{% if page in menu_pages %} current-tab{% endif %}" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{% translate 'TEXTS' %}</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  {% for p in menu_pages %}
                  <li>
                    <a class="dropdown-item {% if p.slug == page.slug %}current-tab{% endif %}" href="{% url 'page' p.slug %}">{{ p.html_title|safe }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% if about_page %}
            <li>
              <a href="{% url 'page' about_page.slug %}" class="header-tab{% if about_page == page %} current-tab{% endif %}">{% translate 'ABOUT' %}</a>
            </li>
            {% endif %}
          </ul>
          {% cache cache_timeout body page.slug auth %}
          <div class="article">
            <div class="article-text">
              {{ page.text|safe }}
            </div>
          </div>
        </div>
        <div class="col-lg-3"><ol id="sidenotes"></ol></div>
      </div>
    </div>
    {% block scripts %}
    {% include "pages/scripts.html" %}
    {% endblock %}
  </body>
</html>
{% endcache %}
{% endobjectlanguage %}
