{% extends 'admin/base.html' %}
{% load static i18n_switcher page_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="icon" href="{% static 'pages/favicon.ico' %}">
{% include "pages/fonts.html" %}
<style>
  label[for=id_text] {
    display: none !important;
  }

/* Customize ckeditor */
.django-ckeditor-widget{
  width: 100%;
}

.parler-language-tabs a.deletelink {
  right: 0 !important;
  bottom: 0 !important;
}

/* Customize django-parler language tabs*/
#parler-language-tabs-empty {
  margin-top: 5px;
  display: none;
}

#parler-toggle-hidden-tabs-a {
  text-decoration: none;
}

#parler-toggle-hidden-tabs-a-container {
  transition: margin-left 500ms;
}

/* Customize django-parler methods for displaying languages in django
   admin. See list_display in pages/admin */
.language-buttons a.published {
    /* Only for all_languages_column, highlight the active buttons */
    background-color: #447E9B;
    border: 1px solid #447E9B;
    color: #fff;
}

table thead th .text span span.explanation {
    padding: 0;
    display: inline;
    text-transform: none;
    font-weight: normal;
}

</style>
{% endblock %}

{% block responsive %}{{ block.super }}
<script defer src={% static 'pages/js/admin.js' %}></script>
{% endblock %}


{% block userlinks %}
    <a href="{{ request|switch_i18n:'' }}">
      EN
    </a> /
    <a href="{{ request|switch_i18n:'pt-br' }}">
      PT
    </a> /
{{ block.super }}
{% endblock%}
